html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(247, 245, 213);
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}

.home { /*container für 2 Bilder*/
    position: relative;
}
.slideshow1 {
    margin-bottom: -15px;
    width: 100%;  
}   
.name {
    left: 5%;
    position: absolute;
    top: 60%;
    width: 90%;
}
.logo {
    position: absolute;
    width: 250px;
    max-width: 35%;
    z-index: 2;
    top:0%;
    opacity: 0.7;
}
ul { /*Menu-Bar*/
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;
    z-index: 3;
}

li {
    float: inline-start;
    width: 25%;
}

a {
    color: white;
    display: block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

 li a:hover {
    background-color: #111;
}
hr { /*Linie*/
    background: #000000;
    border: none;
    height: 5px;
    margin-top: 4px;
}
h1 { /*ukulelen, Gitarren...*/
    background-color: black;
    color: white;
    font-size: 40px;
    margin-top: -4px; 
    text-align: center;
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top:30px;
    z-index: 2;
}
.ukepitch { /*Ukulelen*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*.uke_cut_shadow {
    position: relative;
}*/
.uke_cut {
    width: 500px;
    max-height: 440px;
    max-width: 100%;
    filter: drop-shadow(0px 0px 1.5px);    
}    
/*.uke_shadow {
    background-color: #000000;
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: 13px;
    left: 3px;
    rotate: -10deg;
    opacity: 0.2;
    z-index: -1;
    filter: drop-shadow(-5px 10px 5px);
    border-radius: 50%;
    border: 15px solid black;

}*/
p { /*ukulelen,gitarrentext*/
    position: relative;
    text-align: left;
    font-size: 20px;
    width: 400px;
    max-width: 90%;
}
.ukemodell-zeile { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.karo {
    margin: 5px;
    position: relative;
    width: 250px;
    height: 250px;
    transition: 0.5s ease;

}
.karo:hover .thumbnail {
    opacity: 1;
}
.karo:active .thumbnail {
    border-color: gold;
    transition: 0s;
}
.karo:hover h2 {
    opacity: 0.4;
}
.thumbnail {
    border-radius: 5%;
    border: 4px solid black;
    width: 100%;
    height:100%;
    opacity: 0.8;
    transition: 0.5s ease;
}
h2 { /*Modell*/
    font-size: 25px;
    position: absolute;
    text-align: center;
    width: 90%;
    z-index: 1;
    color: black;
    top: 30%;
    margin:3px;
    
}
/*h3 {   Modell-Beschreibung
    position: absolute;
    text-align: center;
    top: 100px;
    width: 250px;
    z-index: 1;
    color:#000000;
}*/
.gitarrenpitch { /*Gitarren*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*.stahl_cut_shadow {
    position: relative;
    margin-bottom: 50px;
    margin-left: -70px;
    margin-right: -70px;
    max-width: 100%;
}*/
.stahl_cut {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 450px;
    filter: drop-shadow(0px 0px 1px);
    max-width: 100%;
}
/*.stahl_shadow_l {
    background-color: #000000;
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: 15%;
    left: 20%;
    rotate: -10deg;
    opacity: 0.2;
    z-index: -1;
    filter: drop-shadow(-5px 5px 5px);
    border-radius: 50%;
    border: 15px solid black;
}
.stahl_shadow_r {
    background-color: #000000;
    max-width: 100px;
    width: 15%;
    max-height: 15px;  besseres verhältnis finden
    height: 2,25%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    rotate: 15deg;
    opacity: 0.2;
    z-index: -1;
    filter: drop-shadow(5px 5px 5px);
    border-radius: 50%;
    border: 15px solid black;
}*/
.gitarrenmodell-zeile { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.repairslide { /*slideshow Werkstatt*/
    position: relative;
    background-color: #000000;
    margin-top: -37px;
    width: 100%;
}
.mySlides {
    max-width: 100%;
    object-fit: cover;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.repairpitch { /*werkstatttext*/
    text-align: left;
    margin: 3%;
    width: 90%;
    

}
.preisliste {
    background-color: rgb(255, 255, 255);
    margin: 3%;
    border: 1px solid;
    width: 50%;
    border-collapse: collapse;
    font-size: 20px;
}
td {
    border: 1px solid;
    padding: 5px;

}
th {
    padding: 5px;
    padding-bottom: 10px;
    text-align: left;
}
tr:nth-child(even) {
    background-color:rgb(247, 245, 213);
}
.impressum {
    background-color: #000000;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-top: 3px;
    padding-left: 15px;
    margin-top: -4px;
}
@media (max-width: 850px) { /*Schriftgröße kleiner für Tablets&Handys*/
    body{
        font-size: 9px;
    }
    hr {
        height: 3px;
    }
    h1{
        font-size: 20px;
        margin-top: 0;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    .preisliste{
        font-size: 15px;
        width: 90%;
    }
    h3 {
        font-size: 12px;
    }
    .impressum {
        font-size: 9px;
    }
}
@media (max-width: 300px) { /*Thumbnail kleiner für Handys*/
    .karo {
        width: 180px;
        height: 180px;
    }
}
.alert {
    max-width: 50%;
    left: 25%;
    top:30%;
    position: fixed;
    text-align: center;
    padding: 5px;
    border: 3px solid black;
    z-index:4;
    background-color: rgb(247, 179, 32);
    opacity: 0.9;
}
button {
    background-color: #00ff00;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
