html {    
scroll-behavior: smooth;
}
body {
    background-color: rgb(247, 245, 213);
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.logo {
    background-color: #000000;
}
.name {
    height: auto;
    width: 500px;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menubar { /*Menu-Bar*/
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;
    z-index: 3;
}

.menubar li {
    float: inline-start;
    width: 25%;
}

a {
    color: white;
    display: block;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}

.menubar li a:hover {
    background-color: #111;
}
h2 { /*Modell*/
    font-size: 25px;
    color: black;
    text-align: center;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px;
  }
  .desc {
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    margin-left: 30px;
  }  
  .slideshow-container {
    max-width: 650px;
    position: relative;
  }
  .mySlides {
    width: 100%;
    display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0,5s ease;
    border-radius: 0 5px 5px 0;
    user-select:none;
    opacity: 0.7;
  }
  .next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(247, 245, 213, 0.8);
  }
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  .imagerow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 650px;
    padding-left: 10px; 
    padding-right: 10px;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    background-color: rgb(180, 178, 157);
  
  }
  .minislide {
    width: 100px;
    height:fit-content;
    padding: 1px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
 }
 .minislide:active, .minislide:hover {
    background-color: gold;
 }
  @media (max-width: 850px) {
    .imagerow {
        flex-direction: row;   
        width: 100%; 
        padding: 0;
        margin-left: 0;
        margin-top: 14px;
        border: none;
        background-color: rgb(247, 245, 213);
    }
    .flexbox {
        flex-direction: column;
        padding:0px;
    }
    .minislide {
      width: 17%;
    }
    .prev, .next {
      font-size: 15px;
      padding: 8px;
    }
  }
/* The Overlay (background) */
.overlay {
  height: 100%;
  position: fixed;
  z-index: 4; 
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden; 
  transition: 0.3s; 
}
@media (max-width: 850px) {
  .overlay {
   display: none;
  }
}
.overlay-content {
  position: absolute;
  max-width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 1;
  text-align: center;
  background: none;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  border:none;
}
.closebtn:active {
  color: gold;
}  
.impressum {
    position: relative;
    background-color: #000000;
    color: white;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 3px;
    width: 100%;
    margin-top: 10%;
    bottom: 0px;
}
@media (max-width: 850px) { /*Schriftgröße kleiner für Tablets&Handys*/
  body{
      font-size: 9px;
  }
  h2{
      font-size: 20px;
  }
  h3 {
    font-size: 12px;
  }
  p{
      font-size: 15px;
  }
  .desc {
      font-size: 15px;
      line-height: 30px;
  }
  .impressum {
      font-size: 9px;
  }
}
